<h1>Listing clients</h1>


<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Qtd Pastas</th>
    <th colspan="4">Action</th>
   
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.user %></td>
    <td class="center"><%= client.folders.count %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
<!--<td><%= link_to 'New Folder', new_folder_path(:client_id => client) %></td>-->
    <td><%= link_to 'List Folders', folders_path(:client_id => client) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
